/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.labelNick {
	color: snow;
	margin: 0px;
	font-size: 23px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: bold;
	text-align: center;
}
.ButtonEnter {
	font-size: 15px;
}
.TextBoxNick {
	color: White;
	font-size: 24px;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: transparent;
}
.PanelBoarder {
	border: none;
}
.labelInfo {
	color: red;
	font-size: 16px;
	text-align: center;
}
.btn_join {
	cursor:pointer;
}
.usersList {
	font-size: 16px;
	font-family: 'Ubuntu Condensed', sans-serif;
	background-color: #E7E7E7;
	}
.htmlChat {
	color: #00FF00;
	border: none;
	font-size: 14px;
	font-weight: bold;
}
.boxSend {
	outline: 0px;
	color: white;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	background-color: transparent;
}

.imgTopic {
	background-position: top;
	background-image: url(images/btnTopic.png);
    outline: none;
    border: none;
    cursor:pointer;
	width: 119px;
	height: 19px;
	display: block;
}
.imgTopic:hover {
	background-image: url(images/btnTopic.png);
	background-position: bottom;
    outline: none;
    border: none;
}

.imgInfo {
	background-position: top;
	background-image: url(images/btnInfo.png);
    outline: none;
    border: none;
    cursor:pointer;
	width: 119px;
	height: 19px;
	display: block;
}
.imgInfo:hover {
	background-image: url(images/btnInfo.png);
	background-position: bottom;
    outline: none;
    border: none;
}

.imgExit {
	background-position: top;
	background-image: url(images/btnExit.png);
    outline: none;
    border: none;
    cursor:pointer;
	width: 119px;
	height: 19px;
	display: block;
}
.imgExit:hover {
	background-image: url(images/btnExit.png);
	background-position: bottom;
    outline: none;
    border: none;
}